<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkflowWordAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorkflowWordAddIn.Properties.Settings>
            <setting name="arasPrimaryLinkItemId" serializeAs="String">
                <value>arasPrimaryLinkItemId</value>
            </setting>
            <setting name="ArasURL" serializeAs="String">
                <value>url</value>
            </setting>
            <setting name="ARASdb" serializeAs="String">
                <value>db</value>
            </setting>
            <setting name="ArasInfoNodeName" serializeAs="String">
                <value>ArasInfo</value>
            </setting>
            <setting name="ArasPrimaryLinkIDName" serializeAs="String">
                <value>arasPrimaryLinkItemId</value>
            </setting>
            <setting name="getWorkFlowAML" serializeAs="String">
                <value>&lt;AML&gt;&lt;Item type="Workflow" action="get"&gt;&lt;source_id&gt;&lt;/source_id&gt;&lt;/Item&gt;&lt;/AML&gt;</value>
            </setting>
            <setting name="getWorkFlowProcessAML" serializeAs="String">
                <value>&lt;AML&gt;&lt;Item type="Workflow Process" action="get"&gt;&lt;id&gt;&lt;/id&gt;&lt;/Item&gt;&lt;/AML&gt;</value>
            </setting>
            <setting name="getWorkflowMapNameAML" serializeAs="String">
                <value>&lt;AML&gt;
&lt;Item type="Workflow Map" action="get" select="name"&gt;
&lt;id&gt;&lt;/id&gt;
&lt;/Item&gt;

&lt;/AML&gt;</value>
            </setting>
            <setting name="getActivitiesAML" serializeAs="String">
                <value>&lt;AML&gt;
&lt;Item type="Workflow Process Activity" action="get" select="related_id"&gt;
&lt;source_id&gt;&lt;/source_id&gt;
&lt;/Item&gt;
&lt;/AML&gt;</value>
            </setting>
        </WorkflowWordAddIn.Properties.Settings>
    </userSettings>
</configuration>